@import '../../styles/global.less';

.header {
  grid-area: header;
  background-color: @dark;
}
.main {
  grid-area: main;
  width: 100%;
  justify-self: center;
  .medGradient();
}

.cont {
  width: 992px;
  background: none;
  margin: 0 auto;
}

.footer {
  grid-area: footer;
  background-color: @purple;
}

.mainCont {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 2.5rem;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

@media (max-width: 992px) {
  .cont {
    width: 100%;
  }
}